1. Załaduj bibliotekę `pandas`.

In [17]:
import pandas as pd

2. Wczytaj dane z pliku *dane_mieszkania.csv* do zmiennej i wyświetl 5 pierwszych wierczy.

In [18]:
data = pd.read_csv("./dane_mieszkania.csv")
data.head() # domyslnie 5 wierszy

,Unnamed: 0,Id,Expected,Rooms,SqrMeters,Floor,Location
0,0,1,269000,3,55.00,1,Poznań Zawady
1,1,2,320000,3,79.00,10,Poznań Rataje ul. Orła Bialego
2,2,3,146000,1,31.21,1,Poznań Nowe Miasto ul. Kawalerka W Nowym Bloku...
3,3,4,189000,2,44.00,2,Poznań Grunwald Ogrody Jeżyce Centrum Łazarz u...
4,4,5,480240,2,65.25,1,Poznań ul. Droga Dębińska 19

3. Znajdź informacje ilu pokojowe mieszkania są najpopularniejsze i ile ich jest.

In [19]:
data['Rooms'].value_counts()  # 2- pokojowe => 2208 mieszkan

2     2208
3     1553
1      620
4      523
5       81
6       13
10       1
7        1
Name: Rooms, dtype: int64

4. Znajdź 10 najtańszych mieszkań.

In [20]:
data.sort_values(['Expected']).head(10)

,Unnamed: 0,Id,Expected,Rooms,SqrMeters,Floor,Location
971,971,972,1,5,99.76,1,Poznań Kameralne Osiedle Domów Energooszczędny...
4528,4528,4529,4000,3,85.50,2,Poznań ul. Ułańska
1175,1175,1176,68000,1,33.10,1,Poznań Naramowice ul. Naramowicka
4889,4889,4890,79000,2,38.10,10,Poznań Nowe Miasto ul. Katowicka
470,470,471,85000,1,37.00,3,Poznań Nowe Miasto ul. Folwarczna
898,898,899,90000,1,24.26,4,Poznań Jeżyce ul. Szamarzewskiego
2055,2055,2056,94000,2,54.00,2,Poznań Okolica Rybno Rybno ul. Kłecko
4723,4723,4724,98000,2,50.00,1,Poznań Wilda ul. Robocza/Sikorskiego
3550,3550,3551,98000,2,53.00,2,Poznań Koziegłowy ul. Os. Leśne
911,911,912,99000,2,40.50,3,Poznań Nowe Miasto ul. Katowicka

5. Napisz funkcje ``find_borough(desc)``, która przyjmuje 1 argument typu *string* i zwróci jedną z dzielnic zdefiniowaną w liście ``dzielnice``. Funkcja ma zwrócić pierwszą (wzgledem kolejności) nazwę dzielnicy, która jest zawarta w ``desc``. Jeżeli żadna nazwa nie została odnaleziona, zwróć napis *Inne*.

In [21]:
def find_borough(desc):
    dzielnice = ['Stare Miasto',
                 'Wilda',
                 'Jeżyce',
                 'Rataje',
                 'Piątkowo',
                 'Winogrady',
                 'Miłostowo',
                 'Dębiec']
    idx = len(desc)
    wynik = 'Inne'
    for i, dzielnica in enumerate(dzielnice):
        if dzielnica in desc:
            if desc.find(dzielnica) < idx:
                wynik = dzielnica
                idx = desc.find(dzielnica)
    return wynik

6. Dodaj kolumnę ``Borough``, która będzie zawierać informacje o dzielnicach i powstanie z kolumny ``Localization``. Wykorzystaj do tego funkcję ``find_borough``.

In [22]:
lista_Borough = []
lista = list(data['Location'])
for element in lista:
    lista_Borough.append(find_borough(element))
data['Borough'] = lista_Borough
data

,Unnamed: 0,Id,Expected,Rooms,SqrMeters,Floor,Location,Borough
0,0,1,269000,3,55.00,1,Poznań Zawady,Inne
1,1,2,320000,3,79.00,10,Poznań Rataje ul. Orła Bialego,Rataje
2,2,3,146000,1,31.21,1,Poznań Nowe Miasto ul. Kawalerka W Nowym Bloku...,Inne
3,3,4,189000,2,44.00,2,Poznań Grunwald Ogrody Jeżyce Centrum Łazarz u...,Jeżyce
4,4,5,480240,2,65.25,1,Poznań ul. Droga Dębińska 19,Inne
...,...,...,...,...,...,...,...,...
4995,4995,4996,405000,3,77.97,3,Poznań Nowe Miasto ul. Ul. Milczańska 1,Inne
4996,4996,4997,330000,3,64.00,2,Poznań Piątkowo ul. Os.Śmiałego,Piątkowo
4997,4997,4998,460000,4,110.00,1,Poznań Grunwald Wiry Plewiska Komorniki ul. No...,Inne
4998,4998,4999,435000,3,64.00,2,Poznań Nowe Miasto ul. Smolna,Inne
4999,4999,5000,208000,1,27.80,1,Poznań Wilda ul. 28 Czerwca 1956 R.,Wilda

7. Oblicz średnią cenę za metr kwadaratowy dla całego zbioru danych oraz z podziałem na poszczególne dzielnice.

In [23]:
cena_m2 = data['Expected']/data["SqrMeters"] # cena za m2 , dla kazdego mieszkania osobno
srednia_cena_m2 = cena_m2.mean() # srednia cena za m2 czyli suma 'cen za m2' podzielić przez liczbę tych cen 
srednia_cena_m2 # tj.srednia cena za m2 dla calego zbioru

#data['Expected'].sum()/data["SqrMeters"].sum() # inne podejscie dla całego zbioru, ale to wyzej w mojej ocenie jest poprawne

6302.880901712275

In [24]:
data['cena_m2'] = data['Expected']/data["SqrMeters"] # wstawiam kolumne z cena za m2 dla kazdego wiersza
data[['Borough', 'cena_m2']].groupby('Borough').mean()

                  cena_m2
Borough
Dębiec        4855.836783
Inne          5681.655798
Jeżyce        5612.074472
Piątkowo      5784.994686
Rataje        5475.153982
Stare Miasto  9008.936060
Wilda         5489.441432
Winogrady     8889.044553

8. Znajdź średnią cenę mieszkania n-pokojowego.

In [25]:
def srednia_cena(n):
    return data[['Rooms', 'Expected']].groupby(['Rooms']).mean('Expected').query(f'Rooms=={n}') 

srednia_cena(2)   # 303861.862772                                                                           
#srednia_cena(3)    # 383533.640052

# lub po prostu 

#data[data['Rooms'] == 2]['Expected'].mean()   # tj dla n=2 => srednia cena 303861.86277173914, (wynik ten sam co z fukncji)
#data[data['Rooms'] == 3]['Expected'].mean()   # tj dla n=3 => srednia cena 383533.6400515132 (wynik ten sam co z fukncji)

            Expected
Rooms
2      303861.862772

9. Znajdź dzielnice, które zawierają oferty mieszkań na 13 piętrze.

In [26]:
data.query('Floor == 13')['Borough']

2195       Winogrady
2773    Stare Miasto
Name: Borough, dtype: object

10. Znajdź wszystkie ogłoszenia mieszkań, które znajdują się na Winogradach, mają 3 pokoje i są położone na 1 piętrze.

In [27]:
data.query('(Borough == "Winogrady") and (Rooms == 3) and (Floor == 1)')

,Unnamed: 0,Id,Expected,Rooms,SqrMeters,Floor,Location,Borough,cena_m2
44,44,45,345000,3,84.00,1,Poznań Winogrady Stare Miasto ul. Powstańców W...,Winogrady,4107.142857
105,105,106,275000,3,53.00,1,Poznań Winogrady ul. Oś. Zwycięstwa 26,Winogrady,5188.679245
175,175,176,326073,3,53.02,1,Poznań Winogrady ul. Hawelańska,Winogrady,6150.000000
521,521,522,359000,3,68.00,1,Poznań Winogrady,Winogrady,5279.411765
530,530,531,374906,3,67.10,1,Poznań Winogrady Piątkowo Naramowice Stare Mia...,Winogrady,5587.272727
618,618,619,300685,3,49.70,1,Poznań Winogrady ul. Hawelańska,Winogrady,6050.000000
774,774,775,408456,3,65.88,1,Poznań Winogrady ul. Hawelańska,Winogrady,6200.000000
796,796,797,279000,3,48.00,1,Poznań Winogrady ul. Winogrady,Winogrady,5812.500000
845,845,846,280000,3,48.00,1,Poznań Winogrady ul. Os. Przyjaźni,Winogrady,5833.333333
863,863,864,342000,3,84.00,1,Poznań Winogrady ul. Powstańców Warszawy,Winogrady,4071.428571
869,869,870,314782,3,52.03,1,Poznań Winogrady ul. Hawelańska,Winogrady,6050.009610
940,940,941,312967,3,51.73,1,Poznań Winogrady ul. Hawelańska,Winogrady,6050.009666
968,968,969,285000,3,53.00,1,Poznań Winogrady ul. Osiedle Zwycięstwa,Winogrady,5377.358491
1106,1106,1107,288446,3,48.35,1,Poznań Winogrady ul. Hawelańska,Winogrady,5965.791107
1123,1123,1124,319000,3,57.00,1,Poznań Naramowice Winogrady Piątkowo ul. Naram...,Winogrady,5596.491228
1133,1133,1134,279000,3,47.60,1,Poznań Winogrady ul. Os. Przyjaźni,Winogrady,5861.344538
1279,1279,1280,280000,3,48.00,1,Poznań Winogrady Piątkowo Naramowice ul. Pod L...,Winogrady,5833.333333
1373,1373,1374,299000,3,57.17,1,Poznań Winogrady ul. Hawelańska,Winogrady,5230.015743
1385,1385,1386,285000,3,53.00,1,Poznań Winogrady Piątkowo Sołacz Naramowice ul...,Winogrady,5377.358491
1391,1391,1392,320771,3,53.02,1,Poznań Winogrady ul. Hawelańska,Winogrady,6050.000000
1410,1410,1411,310401,3,52.03,1,Poznań Winogrady ul. Hawelańska,Winogrady,5965.808188
1476,1476,1477,399000,3,80.00,1,Poznań Piatkowo Winogrady Naramowice Sołacz Wi...,Winogrady,4987.500000
1485,1485,1486,265000,3,52.80,1,Poznań Winogrady ul. Wichrowe Wzgóze,Winogrady,5018.939394
1519,1519,1520,408456,3,65.88,1,Poznań Winogrady ul. Lechicka Okolice,Winogrady,6200.000000
1706,1706,1707,329271,3,53.54,1,Poznań Winogrady ul. Hawelańska,Winogrady,6150.000000
1903,1903,1904,328636,3,54.32,1,Poznań Winogrady ul. Hawelańska,Winogrady,6050.000000
2037,2037,2038,364935,3,65.40,1,Poznań Winogrady Piątkowo Naramowice Stare Mia...,Winogrady,5580.045872
2045,2045,2046,275397,3,44.78,1,Poznań Winogrady ul. Hawelańska,Winogrady,6150.000000
2069,2069,2070,308066,3,50.92,1,Poznań Winogrady ul. Hawelańska,Winogrady,6050.000000
2092,2092,2093,301452,3,54.70,1,Poznań Winogrady Piątkowo Naramowice Stare Mia...,Winogrady,5511.005484
2273,2273,2274,480000,3,62.77,1,Poznań Winogrady ul. Naramowicka,Winogrady,7646.965111
2303,2303,2304,380932,3,64.13,1,Poznań Winogrady ul. Hawelańska,Winogrady,5939.996881
2316,2316,2317,280000,3,48.00,1,Poznań Winogrady Piątkowo Sołacz Naramowice Ce...,Winogrady,5833.333333
2324,2324,2325,303779,3,50.92,1,Poznań Winogrady ul. Hawelańska,Winogrady,5965.809112
2355,2355,2356,331816,3,56.24,1,Poznań Winogrady ul. Hawelańska,Winogrady,5900.000000
2416,2416,2417,310673,3,50.93,1,Poznań Winogrady ul. Lechicka Okolice,Winogrady,6100.000000
2659,2659,2660,329000,3,75.00,1,Poznań Winogrady ul. Idealne 3 Pok. Na Biuro,Winogrady,4386.666667
2740,2740,2741,288446,3,48.35,1,Poznań Winogrady,Winogrady,5965.791107
2833,2833,2834,320000,3,53.00,1,Poznań Winogrady ul. Os. Zwycięstwa,Winogrady,6037.735849
2835,2835,2836,326761,3,54.01,1,Poznań Winogrady ul. Hawelańska,Winogrady,6050.009258
3154,3154,3155,350000,3,76.80,1,Poznań Winogrady ul. Wilczak,Winogrady,4557.291667
3365,3365,3366,334928,3,55.36,1,Poznań Winogrady ul. Hawelańska,Winogrady,6050.000000
3379,3379,3380,292518,3,48.35,1,Poznań Winogrady ul. Hawelańska,Winogrady,6050.010341
3406,3406,3407,319000,3,64.90,1,Poznań Winogrady ul. Os. Wichrowe Wzgórze,Winogrady,4915.254237
3500,3500,3501,320000,3,53.00,1,Poznań Winogrady,Winogrady,6037.735849
3599,3599,3600,339000,3,58.00,1,Poznań Winogrady ul. Strzeszynska Winogrady Po...,Winogrady,5844.827586
3750,3750,3751,213000,3,59.30,1,Poznań Winogrady ul. Hawelańska,Winogrady,3591.905565
4034,4034,4035,419000,3,78.00,1,Poznań Sołacz Bonin Winiary Winogrady Piątko u...,Winogrady,5371.794872
4133,4133,4134,359000,3,59.00,1,Poznań Winogrady ul. Piątkowska Ataner,Winogrady,6084.745763
4244,4244,4245,323917,3,53.54,1,Poznań Winogrady ul. Hawelańska,Winogrady,6050.000000
4291,4291,4292,312442,3,51.22,1,Poznań Winogrady ul. Lechicka Okolice,Winogrady,6100.000000
4314,4314,4315,295068,3,49.46,1,Poznań Winogrady ul. Hawelańska,Winogrady,5965.790538
4430,4430,4431,285000,3,53.00,1,Poznań Winogrady,Winogrady,5377.358491
4493,4493,4494,308611,3,51.73,1,Poznań Winogrady ul. Hawelańska,Winogrady,5965.803209
4536,4536,4537,285000,3,48.00,1,Poznań Winogrady,Winogrady,5937.500000
4569,4569,4570,344101,3,56.41,1,Poznań Winogrady ul. Hawelańska,Winogrady,6100.000000
4678,4678,4679,329000,3,75.20,1,Poznań Winogrady ul. Wilczak Dopłata W Mdm,Winogrady,4375.000000
4716,4716,4717,358765,3,59.30,1,Poznań Winogrady ul. Hawelańska,Winogrady,6050.000000
4862,4862,4863,289000,3,58.00,1,Poznań Sołacz Winogrady Piątkowo Naramowice ul...,Winogrady,4982.758621
4969,4969,4970,296560,3,49.71,1,Poznań Winogrady ul. Hawelańska,Winogrady,5965.801650